.container {
    padding: 50px;
    text-align: center;
    color: white;
}
.container h1 {
    font-size: 72px;
}
.container h2 {
    font-size: 48px;
}
.container h3 {
    font-size: 36px;
}
.container img:hover{
    opacity: 50%;
}