.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    gap: 10px;
    
}
.container:hover {
    background-color: grey;
    opacity: 0.8;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-color: rgb(184, 22, 54);
    border-style: ridge;
}
.actions {
    display: flex;
    gap: 20px;
}
.hamburgerIcon {
  display: none;
}
@media screen and (max-width: 500px) {
    .actions {
      display: none;
    }
    .hamburgerIcon {
      display: block;
    }
}
.login {
    margin-left: 100px;
}
.logo {
    width: 100px;
    height: 100px;
}