.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    gap: 10px;
    
}

.actions {
    display: flex;
    gap: 20px;
}
.hamburgerIcon {
  display: none;
}
@media screen and (max-width: 500px) {
    .actions {
      display: none;
    }
    .hamburgerIcon {
      display: block;
    }
}
.login {
    margin-left: 100px;
}
.logo {
    width: 100px;
    height: 100px;
}